<dialog #dialog>
  <header>
    <h3>Nueva noticia</h3>

    <button>Cancelar</button>
    <button (click)="submitForm()">Guardar</button>
  </header>

  <section [formGroup]="formGroup">
    <app-input
      formControlName="url"
      [invalid]="formGroup.controls.url.invalid"
      name="url"
      type="url"
    >
      URL
    </app-input>

    <app-input
      formControlName="image"
      [invalid]="formGroup.controls.image.invalid"
      name="image"
      type="url"
    >
      URL Imagen
    </app-input>

    <app-input
      formControlName="title"
      [invalid]="formGroup.controls.title.invalid"
      name="title"
    >
      Título
    </app-input>

    <div class="provider-selector">
      <span class="label">Proveedor</span>

      <div class="selector">
        El mundo
        <app-switch (change)="onProviderChange($event)"></app-switch>
        El país
      </div>
    </div>
  </section>
</dialog>
