@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

$primary: #f15f41;
$secondary: #f2f2f2;
$accent: #2e363d;
$font-family: 'Montserrat', sans-serif;
$font-color-dark: #343434;
$font-color-light: #ffffff;
$font-color-secondary: #939393;

:root {
  --primary-color: #f15f41;
  --secondary-color: #f2f2f2;
  --accent-color: #2e363d;
  --font-family: 'Montserrat', sans-serif;
  --font-color-dark: #343434;
  --font-color-light: #ffffff;
  --font-color-secondary: #939393;
  --error-color: #df3333;
  --line-color: #d8d8d8;
  --background-color: #ffffff;
  --overlay-backdrop-bg: rgb(0 0 0 / .3);
}
