button {
  position: fixed;
  bottom: 400px;
  inset-inline-end: 72px;
  z-index: 100;

  display: grid;
  place-items: center;

  width: 72px;
  height: 72px;

  border: none;
  border-radius: 50%;
  outline: none;

  background-color: var(--primary-color);
  box-shadow: 0 6px 20px 0 color-mix(in srgb, var(--primary-color), transparent 40%);

  cursor: pointer;
  transition: all .2s;

  &:is(:hover, :focus) {
    background-color: color-mix(in srgb, var(--primary-color), white 15%);
  }

  @media (width < 420px) {
    inset-inline: 50%;
    inset-block-end: 24px;

    width: 48px;
    height: 48px;

    transform: translateX(-50%);
  }
}

button > img {
  width: 24px;
  height: 24px;
  filter: brightness(100%) invert(1);

  @media (width < 420px) {
    width: 16px;
    height: 16px;
  }
}
